---
import { Image } from "astro:assets";
const { title, image } = Astro.props;
---

<article
  class="relative inline-block size-[420] bg-black duration-300 hover:scale-105"
>
  <div>
    <Image
      class="z-0 block aspect-square object-none object-center opacity-70"
      sizes="420"
      src={image}
      alt={title}
    />
  </div>
  <div class="absolute left-0 top-0 z-10 p-10">
    <h3 class="text-3xl text-white">{title}</h3>
  </div>
</article>
