---
import heroImg from "@/assets/service/hero.svg";
import { Image } from "astro:assets";
---

<div class="relative flex bg-black lg:flex-row-reverse">
  <p
    class="absolute left-10 top-56 font-Inter text-2xl text-white lg:left-16 lg:top-80 lg:text-4xl"
  >
    SERVICE
  </p>
  <Image
    src={heroImg}
    alt="herp img"
    class="place-self-end bg-black object-cover object-center"
  />
</div>
