---
import heroImg from "@/assets/service/hero.svg";
import { Image } from "astro:assets";
---

<div class="flex flex-row justify-between bg-black">
  <p class="font-Inter ml-16 mt-80 text-4xl text-white">SERVICE</p>
  <Image src={heroImg} alt="herp img" class="w-50% place-self-end bg-black" />
</div>
