---
import heroImg from "@/assets/service/hero.svg";
import { Image } from "astro:assets";
---

<div class="relative h-[45vh] w-full bg-primary-900">
  <div
    class="absolute bottom-[10%] left-[10%] z-10 text-5xl uppercase text-white"
  >
    services
  </div>
  <div class="absolute left-0 top-0 size-full w-1/2 bg-primary-900 opacity-40">
  </div>
  <Image
    src={heroImg}
    alt="Hero Image"
    class="z-0 ml-auto size-full border-0 object-cover font-semibold lg:w-1/2"
  />
</div>
