---
import { Icon } from "astro-icon/components";

interface Props {
  iconName: string;
  title: string;
  description: string;
}

const { iconName = "Unknown", title = "", description = "" } = Astro.props;
---

<a href="/services">
  <div
    class="cols-span-1 max-content flex h-full w-full flex-row-reverse items-center justify-between space-x-2 rounded-2xl p-2 text-primary-800 shadow transition-all duration-300 ease-in-out hover:bg-primary-800 hover:text-white lg:flex-col lg:justify-center lg:p-8"
  >
    <Icon name={iconName} size={50} class="lg:m-4 lg:mb-8" />
    <div
      class="flex w-[84%] flex-col items-start text-start text-base lg:w-full lg:items-center lg:text-center"
    >
      <p class="text-base lg:max-w-[70%] lg:text-xl">{title}</p>
      <p class="text-[14px] text-primary-600 lg:text-base">{description}</p>
    </div>
  </div>
</a>
