---
import SmallServicesBlock from "./SmallServicesBlock.astro";
import Container from "@/components/Container/ContentContainer.astro";

const services = [
  {
    Icon: "ion:calculator",
    title: "ให้คำปรึกษาและประเมินราคางานสีทุกชนิด",
    description: "วางแผนตามงบประมาณที่ต้องการ",
  },
  {
    Icon: "vaadin:paint-roll",
    title: "ทาสี",
    description: "ทาสีอาคาร โรงงาน ที่พักอาศัย เครื่องจักร ฯ",
  },
  {
    Icon: "ic:twotone-construction",
    title: "รับซ่อมแซมและปรับปรุง",
    description: "เพื่อยืดอายุการใช้งานและให้ดูดีทันสมัยมากขึ้น",
  },
  {
    Icon: "clarity:design-solid",
    title: "รับออกแบบและต่อเติม",
    description: "ให้ตรงกับความต้องการของลูกค้าในราคาที่เหมาะสม",
  },
];
---

<Container className="mx-auto max-w-4xl px-4 py-9 lg:px-12 xl:px-0">
  <h2
    class="mb-12 text-center font-Inter text-[20px] font-semibold uppercase text-primary-800 lg:text-start lg:text-[40px]"
  >
    all services
  </h2>
  <div class="grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-4">
    {
      services.map((service) => (
        <SmallServicesBlock
          iconName={service.Icon}
          title={service.title}
          description={service.description}
        />
      ))
    }
  </div></Container
>
