---
import { Icon } from "astro-icon/components";

interface Props {
  iconName: string;
  title: string;
  description: string;
}

const { iconName = "Unknown", title = "", description = "" } = Astro.props;
---

<a href="/services">
  <div
    class="cols-span-1 max-content flex h-full w-full flex-col items-center justify-center rounded-2xl p-8 text-center text-primary-800 shadow transition-all duration-300 ease-in-out hover:bg-primary-800 hover:text-white"
  >
    <Icon name={iconName} size={50} class="m-4 mb-8" />
    <p class="max-w-[70%] text-xl">{title}</p>
    <p class="text-base text-primary-600">{description}</p>
  </div>
</a>
