---
import SmallServicesBlock from "./SmallServicesBlock.astro";
import Container from "@/components/Container/ContentContainer.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const services = [
  {
    Icon: "ion:calculator",
    title: t("services.consult.title"),
    description: t("services.consult.description"),
  },
  {
    Icon: "vaadin:paint-roll",
    title: t("services.painting.title"),
    description: t("services.painting.description"),
  },
  {
    Icon: "ic:twotone-construction",
    title: t("services.renovation.title"),
    description: t("services.renovation.description"),
  },
  {
    Icon: "clarity:design-solid",
    title: t("services.design.title"),
    description: t("services.design.description"),
  },
];
---

<Container className="mx-auto max-w-4xl px-4 py-9 lg:px-12 xl:px-0">
  <h2
    class="mb-12 text-center font-Inter text-[20px] font-semibold uppercase text-primary-800 lg:text-start lg:text-[40px]"
  >
    all services
  </h2>
  <div class="grid grid-cols-1 gap-2 lg:grid-cols-2 lg:gap-4">
    {
      services.map((service) => (
        <SmallServicesBlock
          iconName={service.Icon}
          title={service.title}
          description={service.description}
        />
      ))
    }
  </div></Container
>
