---
import Container from "@/components/Container/ContentContainer.astro";
---

<Container>
  <section
    class="flex flex-col items-center gap-y-16 bg-secondary-100 py-16 text-primary-800"
  >
    <div class="flex w-[600px] flex-row gap-x-20">
      <div class="mb-0 w-[100px] text-nowrap text-center text-base">
        ประวัติของเรา
      </div>
      <p class="mb-0 w-[420px] text-sm font-light">
        ห้างหุ้นส่วนจำกัด นอร์ธเทค เริ่มจัดตั้งขึ้นในปี
        พ.ศ.2548มีวัตถุประสงค์ในการดำเนินงานประกอบธุรกิจให้บริการเกี่ยวกับ
        งานด้านการต่อเติม ปรับปรุง ซ่อมแซม อาคารสำนักงาน โรงงาน
        ที่พักอาศัยรวมไปถึงเครื่องจักรในโรงงาน
        ให้มีสภาพที่ดีขึ้นตามที่ลูกค้าต้องการด้วยช่างที่มีประสบการณ์
        และความเชี่ยวชาญเฉพาะด้านโดยอยู่ในการควบคุมดูแลงานจากทีมงานของห้างฯ
        อย่างใกล้ชิดตลอดระยะเวลาทำงานให้ได้งานที่มีคุณภาพสูงสุดจึงส่งผลให้กิจการ
        มีความก้าวหน้า และเติบโตได้อย่างต่อเนื่อง
      </p>
    </div>
    <div class="flex w-[600px] flex-row gap-x-20">
      <div class="mb-0 w-[100px] text-center text-base">วิสัยทัศน์</div>
      <p class="mb-0 w-[420px] text-sm font-light">
        ด้วยประสบการณ์ที่มากกว่า 10 ปี เพื่อให้งานที่มีคุณภาพห้าง ฯ
        จึงให้ความสำคัญกับการเข้าไปดูแลงานอย่างใกล้ชิด ตั้งแต่ให้คำปรึกษา
        และแก้ใขหน้างานให้ผ่านไปด้วยดี จึงทำให้เราได้รับความไว้วางใจและ
        ความเชื่อมั่นจากลูกค้าให้มีโอกาสได้ทำงานหลายรูปแบบ
        โดยยึดหลักที่ว่างานที่ลูกค้าพึงพอใจคืองานบริการของเรา
      </p>
    </div>
  </section>
</Container>
