---
import Container from "@/components/Container/ContentContainer.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Container>
  <section
    class="flex flex-col items-center gap-y-16 bg-secondary-100 text-primary-800"
  >
    <div class="flex w-[330px] flex-row gap-x-3 lg:w-[600px] lg:gap-x-20">
      <div class="w-24 text-nowrap text-center text-base">
        {t("about.history.title")}
      </div>
      <p class="w-56 text-sm font-light lg:w-[420px]">
        {t("about.history.description")}
      </p>
    </div>
    <div class="flex w-[330px] flex-row gap-x-3 lg:w-[600px] lg:gap-x-20">
      <div class="w-24 text-nowrap text-center text-base">
        {t("about.history.title")}
      </div>
      <p class="w-56 text-sm font-light lg:w-[420px]">
        {t("about.vision.description")}
      </p>
    </div>
  </section>
</Container>
