---
import heroImg from "@/assets/about/heroImg.svg";
---

<article
  class="min-w-screen flex h-[414px] items-end overflow-y-scroll bg-cover bg-center bg-no-repeat"
  style={{ backgroundImage: `url(${heroImg.src})` }}
>
  <div
    class="absolute right-[90px] top-[330px] flex flex-col gap-y-2 text-white"
  >
    <div class="font text-6xl">ABOUT US</div>
    <div class="text-4xl font-light">MASTER PAINT 2548</div>
  </div>
</article>
