---
import heroImg from "@/assets/about/heroAboutUs.webp";
---

<article
  class="flex h-48 items-end justify-start overflow-y-scroll bg-cover bg-center bg-no-repeat px-10 py-6 lg:h-[414px] lg:justify-end lg:bg-cover lg:px-24"
  style={{ backgroundImage: `url(${heroImg.src})` }}
>
  <div class="flex flex-col gap-y-2 text-white">
    <p class="text-2xl lg:text-6xl">ABOUT US</p>
    <p class="hidden text-4xl font-light lg:block">MASTER PAINT 2548</p>
  </div>
</article>
