---
import heroImg from "@/assets/about/heroImg.webp";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { Image } from "astro:assets";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article class="relative h-48 w-full bg-primary-900 lg:h-[512px]">
  <div
    class="absolute bottom-[10%] left-[10%] z-10 text-2xl uppercase text-white drop-shadow-lg lg:text-6xl"
  >
    {t("about.title")}
  </div>
  <div class="absolute left-0 top-0 size-full bg-black opacity-30"></div>
  <Image
    src={heroImg}
    alt="Hero Image"
    class="z-0 size-full border-0 object-cover object-bottom font-semibold"
  />
</article>
