---
import MainLayout from "@/layouts/MainLayout.astro";
import MainContainer from "@/components/Container/MainContainer.astro";
---

<MainLayout>
        <MainContainer>
            <article class="my-auto h-[50vh]">
                <h1 class="text-center text-3xl lg:text-5xl font-black text-primary-800 size-full flex justify-center items-center">
                    Sorry, we can't find this page.</br>you're looking for.
                </h1>
            </article>
        </MainContainer>  
</MainLayout>