---
import MainLayout from "@/layouts/MainLayout.astro";
import MainContainer from "@/components/Container/MainContainer.astro";
---

<MainLayout>
  <MainContainer>
    <article class="my-auto h-[50vh]">
      <h1
        class="flex size-full items-center justify-center text-center text-3xl font-black text-primary-800 lg:text-5xl"
      >
        <p>Sorry, we can't find this page.<br />you're looking for.</p>
      </h1>
    </article>
  </MainContainer>
</MainLayout>
