---
import NavbarLink from "./NavbarLink.astro";
import { Image } from "astro:assets";
import Logo from "@/assets/navbar/logo.svg";
---

<header class="px-8">
  <nav class="flex h-[74px] w-full flex-row items-center justify-between">
    <div class="flex flex-row items-center gap-[15px] text-base">
      <div>
        <Image src={Logo} alt="Master Paint Logo" />
      </div>
      <div class="font-Inter text-primary-800">MASTER PAINT 2548</div>
    </div>
    <div class="flex flex-row items-center gap-x-9 text-base">
      <NavbarLink href="/">Home</NavbarLink>
      <NavbarLink href="/services">Services</NavbarLink>
      <NavbarLink href="/projects">Projects</NavbarLink>
      <NavbarLink href="/about">About Us</NavbarLink>
      <a href="/contact">
        <p
          class="rounded-full bg-primary-500 px-5 py-2 text-base text-white duration-200 hover:scale-105"
        >
          Contact Us
        </p>
      </a>
    </div>
  </nav>
</header>
