---
import NavbarLink from "./NavbarLink.astro";
import { Image } from "astro:assets";
import logo from "@/assets/navbar/logo.png";
---

<header class="px-8">
  <nav
    class="flex h-[35px] w-full flex-row items-center justify-between lg:h-[72px]"
  >
    <div class="gap-[15px] text-base lg:flex lg:flex-row lg:items-center">
      <div>
        <Image
          src={logo}
          class="h-7 w-32 object-contain lg:h-8 lg:w-[300px]"
          alt="Master Paint Logo"
        />
      </div>
    </div>
    <div
      class="hidden lg:flex lg:flex-row lg:items-center lg:gap-x-9 lg:text-base"
    >
      <NavbarLink href="/">Home</NavbarLink>
      <NavbarLink href="/services">Services</NavbarLink>
      <NavbarLink href="/projects">Projects</NavbarLink>
      <NavbarLink href="/about">About Us</NavbarLink>
      <a href="/contact">
        <p
          class="rounded-full bg-primary-500 px-5 py-2 text-base text-white duration-200 hover:scale-105"
        >
          Contact Us
        </p>
      </a>
    </div>
    <div class="lg:hidden">
      <!-- <Icon name="basil:menu-outline" /> -->
    </div>
  </nav>
</header>
