---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  aria-checked={isActive}
  class="text-medium inline-block font-Inter text-primary-800 no-underline hover:text-primary-800 aria-checked:font-bold aria-checked:font-bold"
  {...props}
>
  <slot />
</a>
