<section class="flex flex-row justify-center gap-x-4">
  <div
    class="h-15 flex w-[280px] flex-row justify-between gap-x-14 rounded-xl bg-primary-100 p-3 text-primary-600"
  >
    <p class="mb-0 text-5xl font-semibold">18</p>
    <p class="mb-0 self-end text-base">Years in experience</p>
  </div>
  <div
    class="h-15 flex w-[280px] flex-row justify-between gap-x-14 rounded-xl bg-primary-100 p-3 text-primary-600"
  >
    <p class="mb-0 text-5xl font-semibold">202</p>
    <p class="mb-0 self-end text-base">Completed projects</p>
  </div>
  <div
    class="h-15 flex w-[280px] flex-row justify-between gap-x-14 rounded-xl bg-primary-100 p-3 text-primary-600"
  >
    <p class="mb-0 text-5xl font-semibold">72</p>
    <p class="mb-0 self-end text-base">Trusted customers</p>
  </div>
</section>
