---
import { Icon } from "astro-icon/components";
import Container from "@/components/Container.astro";

const works = [
  { icon: "ant-design:schedule-outlined", desc: "Flexible scheduling options" },
  //   { icon: "bi:people-fill", desc: "Free consultation" },
  //   { icon: "carbon:clean", desc: "Maintain a clean work area" },
];
---

<Container>
  <div class="flex flex-row justify-between gap-x-12 bg-red-300">
    <article class="w-[450px] text-primary-800">
      <h1 class="">AT MASTERPAINT</h1>
      <p>
        หจก.นอร์ธเทค ก่อตั้งขึ้นเมื่อวันที่ 18 สิงหาคม 2548
        มีวัตถุประสงค์เพื่อให้บริการเกี่ยวกับงานสีต่างๆ
        โดยทีมช่างคุณภาพที่มีประสบการณ์และความ เชี่ยวชาญด้านงานสีโดยเฉพาะ
      </p>
      <p>
        เราได้มุ่งมั่นที่จะสร้างความพึงพอใจให้แก่ลูกค้าในการนำ
        เสนอสินค้าพร้อมบริการที่มีคุณภาพในราคาที่เหมาะสม
        ดังนั้นเมื่อท่านได้รับบริการจากเรา จะไม่เพียงแต่การให้บริการเท่านั้น
        แต่จะเป็นการเริ่มต้นความสัมพันธ์ที่ดีต่อกันในระยะเวลาอันยาวไกล
      </p>
      <button>more about us</button>
    </article>
    <div class="grid grid-cols-2 gap-4">
      {
        works.map((w) => (
          <div class="flex h-48 w-72 flex-col bg-primary-100 text-primary-800">
            <Icon name={w.icon} />
            <p class="text-nowrap">{w.desc}</p>
          </div>
        ))
      }
      <!-- <div class="flex flex-row bg-primary-100 p-6 text-primary-800">
      <Icon name="ant-design:schedule-outlined" color="#0C1A66" />
      <p>Flexible scheduling options</p>
    </div>
    <div class="flex flex-row bg-primary-100 p-6 text-primary-800">
      <Icon name="bi:people-fill" color="#0C1A66" />
      <p>Free consultation</p>
    </div>
    <div class="flex flex-row bg-primary-100 p-6 text-primary-800">
      <Icon name="ant-design:schedule-outlined" color="#0C1A66" />
      <p>Flexible scheduling options</p>
    </div> -->
    </div>
  </div>
</Container>
