---
import { Icon } from "astro-icon/components";
import Container from "@/components/Container/ContentContainer.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const works = [
  { icon: "ant-design:schedule-outlined", desc: t("company.offer1") },
  { icon: "bi:people-fill", desc: t("company.offer2") },
  { icon: "carbon:clean", desc: t("company.offer3") },
];
---

<Container className="mx-auto lg:max-w-7xl lg:p-6">
  <div class="flex flex-col items-center justify-center gap-x-12 lg:flex-row">
    <article
      class="flex w-80 flex-col gap-y-3 p-0 text-primary-800 lg:w-[450px] lg:gap-y-12"
    >
      <h1 class="font-Inter text-lg font-semibold lg:text-2xl">
        VIA MASTERPAINT 2548
      </h1>
      <p class="text-pretty indent-10">{t("company.p1")}</p>
      <p class="text-pretty indent-10">{t("company.p2")}</p>
      <a href={`/${lang}/about`}>
        <button
          class="mt-5 flex flex-row gap-x-2 rounded-full border border-primary-800 bg-white px-[13px] py-[10px] font-Inter transition-all duration-300 ease-in-out hover:bg-primary-800 hover:text-white lg:ml-auto lg:mt-0 lg:self-end"
          >{t("company.more")}
          <span class="self-center justify-self-center"
            ><Icon name="radix-icons:arrow-top-right" class="size-full" /></span
          >
        </button>
      </a>
    </article>
    <div class="mt-10 grid grid-cols-2 gap-2 lg:m-0 lg:gap-4">
      {
        works.map((w) => (
          <div class="my-auto flex h-28 w-44 flex-col items-center justify-center gap-y-2 rounded-xl bg-primary-100 px-5 text-primary-800 lg:h-48  lg:w-72 lg:items-start lg:justify-between lg:p-6">
            <Icon name={w.icon} class="size-[30px] lg:size-[42px]" />
            <p class="text-center font-Inter text-base font-semibold lg:text-sm">
              {w.desc}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</Container>
