---
import { Icon } from "astro-icon/components";
---

<footer class="flex flex-col gap-y-8 bg-accent-dark-blue px-8 py-14 text-white">
  <div class="border-b-2 border-white pb-2 font-Inter font-medium lg:text-5xl">
    CONTACT US
  </div>
  <div
    class="flex flex-col gap-x-20 gap-y-6 px-9 font-Inter text-base lg:flex-row"
  >
    <div>
      <div class="flex flex-row justify-start gap-x-12">
        <Icon
          name="ion:location-sharp"
          class="w-[25px] shrink-0 align-middle"
          size={25}
        />
        <p class="w-56 place-content-center overflow-visible">
          Northtech Limited Partnership 71/5 หมู่ที่ 13 ถนนบางนา-ตราดตำบลบางแก้ว
          อำเภอบางพลี จังหวัดสมุทรปราการ 10540
        </p>
      </div>
    </div>
    <div>
      <div class="flex flex-col gap-y-6">
        <div class="flex w-[300px] flex-row justify-start gap-x-12">
          <Icon name="ic:baseline-email" class="align-middle" size={25} />
          <p class="place-content-center">masterpaint2548@gmail.com</p>
        </div>
        <div class="flex w-[300px] flex-row justify-start gap-x-12">
          <Icon name="fe:facebook" class="align-middle" size={25} />
          <p class="place-content-center">masterpaint2548</p>
        </div>
        <div class="flex w-[300px] flex-row justify-start gap-x-12">
          <Icon name="bxs:phone-call" class="align-middle" size={25} />
          <div>
            <p>0891123192</p>
            <p>027625855</p>
          </div>
        </div>
        <div class="flex w-[300px] flex-row justify-start gap-x-12">
          <Icon name="uim:line" class="align-middle" size={30} />
          <p class="place-content-center">@masterpaint2548</p>
        </div>
      </div>
    </div>
  </div>
</footer>
