---
import { Icon } from "astro-icon/components";
---

<footer class="flex flex-col gap-y-8 bg-accent-dark-blue px-8 py-14 text-white">
  <div class="border-b-2 border-white pb-2 font-Inter text-5xl">CONTACT US</div>
  <div class="flex flex-row gap-x-[72px] px-9 text-base">
    <div>
      <div class="flex w-[300px] flex-row justify-start gap-x-12">
        <div>
          <Icon
            name="zondicons:location"
            class="h-[30px] w-[30px] align-middle"
          />
        </div>
        <div class="place-content-center">
          Northtech Limited Partnership 71/5 หมู่ที่ 13 ถนนบางนา-ตราด
          ตำบลบางแก้ว อำเภอบางพลี จังหวัดสมุทรปราการ 10540
        </div>
      </div>
    </div>
    <div>
      <div class="flex flex-col gap-y-6">
        <div class="flex w-[300px] flex-row justify-start gap-x-12">
          <Icon
            name="ic:baseline-email"
            class="h-[30px] w-[30px] align-middle"
          />
          <div class="place-content-center">masterpaint2548@gmail.com</div>
        </div>
        <div class="flex w-[300px] flex-row justify-start gap-x-12">
          <Icon name="fe:facebook" class="h-[30px] w-[30px] align-middle" />
          <div class="place-content-center">masterpaint2548</div>
        </div>
        <div class="flex w-[300px] flex-row justify-start gap-x-12">
          <Icon name="bxs:phone-call" class="h-[30px] w-[30px] align-middle" />
          <div>
            <div>0891123192</div>
            <div>027625855</div>
          </div>
        </div>
        <div class="flex w-[300px] flex-row justify-start gap-x-12">
          <Icon name="uim:line" class="h-[30px] w-[30px] align-middle" />
          <span class="place-content-center">@masterpaint2548</span>
        </div>
      </div>
    </div>
  </div>
</footer>
