---
import { Image } from "astro:assets";
import Sample from "@/assets/sample.jpg";
---

<div>
  <div class="relative">
    <Image
      src={Sample}
      alt="sample"
      class="absolute z-0 h-96 w-full object-cover"
    />
    <div class="absolute z-10 p-10 text-sm text-white">
      <h1 class="text-5xl text-white">Master paint</h1>
      <p>รับบริการงานทาสีโดยทีมช่าง</p>
      <p>ผู้ชำนาญงานเฉพาะด้านและมีประสบการณ์</p>
      <p>โดยตรงเชี่ยวชาญด้านงานสีโดยเฉพาะ</p>
      <button
        class="items-center rounded-3xl bg-white p-2 px-4 text-center text-base text-accent-dark-blue hover:bg-red-400"
        >Contact Us!</button
      >
    </div>
    <!-- Button -->
  </div>
</div>
