---
import HeroImage from "@/assets/hero/hero.png";
---

<article
  class="min-w-screen flex h-[70vh] items-end overflow-y-scroll bg-black bg-cover bg-center bg-no-repeat"
  style={{ backgroundImage: `url(${HeroImage.src})` }}
>
  <div class="p-24">
    <h1 class="mb-6 text-5xl text-white">Master paint</h1>
    <p class="text-sm text-white">รับบริการงานทาสีโดยทีมช่าง</p>
    <p class="text-sm text-white">ผู้ชำนาญงานเฉพาะด้านและมีประสบการณ์</p>
    <p class="text-sm text-white">โดยตรงเชี่ยวชาญด้านงานสีโดยเฉพาะ</p>
    <button
      class="mt-12 items-center rounded-3xl bg-white p-2 px-4 text-center text-base text-accent-dark-blue transition-colors duration-300 ease-in-out hover:bg-accent-dark-blue hover:text-white"
      >Contact Us!</button
    >
  </div>
</article>
