---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import Logo from "../assets/navbar/logo.svg";
---

<header class="px-8 text-primary-800">
  <nav
    class="flex h-[74px] w-full flex-row items-center justify-between bg-primary-200"
  >
    <!-- <div></div> -->
    <div class="flex flex-row items-center gap-[15px] text-base">
      <div>
        <Image src={Logo} alt="Master Paint Logo" />
      </div>
      <div>MASTER PAINT 2548</div>
    </div>
    <div class="flex flex-row gap-x-9">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/service">Service</HeaderLink>
      <HeaderLink href="/project">Projects</HeaderLink>
      <HeaderLink href="/aboutUs">About Us</HeaderLink>
      <button>Contact Us</button>
    </div>
  </nav>
</header>
<style>
  nav a {
    color: #0c1a66;
  }

  nav a.active {
    text-decoration: none;
  }

  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
