---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

// console.log(Astro.props);
// console.log(Astro.url);
// <div
// className={`bg-white w-60 rounded-2xl border shadow-md hover:shadow-lg ${
//         hasButton ? "h-[370px]" : "h-[320px]"
//       }`}
//     >
const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  aria-checked={isActive}
  class="aria-checked:text-bold inline-block text-primary-800 no-underline hover:text-primary-800 aria-checked:underline"
  {...props}
>
  <slot />
</a>
