---
import NavbarLink from "./NavbarLink.astro";
import { Image } from "astro:assets";
import Logo from "../assets/navbar/logo.svg";
---

<header class="px-8 text-primary-800">
  <nav class="flex h-[74px] w-full flex-row items-center justify-between">
    <div class="flex flex-row items-center gap-[15px] text-base">
      <div>
        <Image src={Logo} alt="Master Paint Logo" />
      </div>
      <div>MASTER PAINT 2548</div>
    </div>
    <div class="flex flex-row items-center gap-x-9 text-base">
      <NavbarLink href="/">Home</NavbarLink>
      <!-- <NavbarLink href="/blog">Blog</NavbarLink> -->
      <NavbarLink href="/service">Service</NavbarLink>
      <NavbarLink href="/project">Projects</NavbarLink>
      <NavbarLink href="/aboutUs">About Us</NavbarLink>
      <button class="rounded-full bg-primary-500 px-5 py-2 text-base text-white"
        >Contact Us</button
      >
    </div>
  </nav>
</header>
<style>
  nav a {
    color: #0c1a66;
  }

  nav a.active {
    text-decoration: none;
  }
</style>
