---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<!-- wait for font Inter -> text-medium aria-checked:text-bold -->
<a
  href={href}
  aria-checked={isActive}
  class="aria-checked:text-bold inline-block text-primary-800 no-underline hover:text-primary-800 aria-checked:underline"
  {...props}
>
  <slot />
</a>
