---
import Navbar from "@/components/Navbar/index.astro";
import Footer from "@/components/Footer.astro";
import BaseHead from "@/components/BaseHead.astro";
import "@fontsource/bai-jamjuree";
import "@fontsource/bai-jamjuree/400.css";
import "@fontsource/bai-jamjuree/400-italic.css";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import Lightbox from "@julian_cataldo/astro-lightbox/Lightbox.astro";

interface Props {
  title?: string;
  withMain?: boolean;
}

const { title, withMain = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={SITE_TITLE}
      titleTab={title}
      description={SITE_DESCRIPTION}
    />
    <Lightbox />
  </head>
  <body
    class="m-0 flex max-w-full flex-col overflow-x-hidden overflow-y-scroll bg-secondary-100 p-0"
  >
    <Navbar />
    <slot name="before-main" />
    {
      withMain && (
        <main>
          <div class="mb-6 space-y-6 xl:my-10 xl:space-y-10">
            <slot />
          </div>
        </main>
      )
    }
    <slot name="after-main" />
    <Footer />
  </body>
</html>
